<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web02</display-name>
  <servlet>
  	<servlet-name>Log</servlet-name>
  	<servlet-class>session.Log</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Log</servlet-name>
  	<url-pattern>/session/Log</url-pattern>
  </servlet-mapping>
  
  <servlet>
    	<servlet-name>Comfirm</servlet-name>
  	<servlet-class>session.Comfirm</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Comfirm</servlet-name>
  	<url-pattern>/session/Comfirm</url-pattern>
  </servlet-mapping>
  
   <servlet>
    	<servlet-name>Logout</servlet-name>
  	<servlet-class>session.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/session/Logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PassFlowChartServlet</servlet-name>
  	<servlet-class>servlet.PassFlowChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PassFlowChartServlet</servlet-name>
  	<url-pattern>/servlet/PassFlowChartServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>PassFlowTableServlet</servlet-name>
  	<servlet-class>servlet.PassFlowTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PassFlowTableServlet</servlet-name>
  	<url-pattern>/servlet/PassFlowTableServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PassFlowClockServlet</servlet-name>
  	<servlet-class>servlet.PassFlowClockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PassFlowClockServlet</servlet-name>
  	<url-pattern>/servlet/PassFlowClockServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>EnterNumChartServlet</servlet-name>
  	<servlet-class>servlet.EnterNumChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EnterNumChartServlet</servlet-name>
  	<url-pattern>/servlet/EnterNumChartServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>EnterNumTableServlet</servlet-name>
  	<servlet-class>servlet.EnterNumTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EnterNumTableServlet</servlet-name>
  	<url-pattern>/servlet/EnterNumTableServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>EnterRateChartServlet</servlet-name>
  	<servlet-class>servlet.EnterRateChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EnterRateChartServlet</servlet-name>
  	<url-pattern>/servlet/EnterRateChartServlet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  	<servlet-name>EnterRateTableServlet</servlet-name>
  	<servlet-class>servlet.EnterRateTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EnterRateTableServlet</servlet-name>
  	<url-pattern>/servlet/EnterRateTableServlet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  	<servlet-name>VisitingCycleNumSevlet</servlet-name>
  	<servlet-class>servlet.VisitingCycleNumSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VisitingCycleNumSevlet</servlet-name>
  	<url-pattern>/servlet/VisitingCycleNumSevlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>VisitingCycleRateServlet</servlet-name>
  	<servlet-class>servlet.VisitingCycleRateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VisitingCycleRateServlet</servlet-name>
  	<url-pattern>/servlet/VisitingCycleRateServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>NewOldCustomerRateServlet</servlet-name>
  	<servlet-class>servlet.NewOldCustomerRateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NewOldCustomerRateServlet</servlet-name>
  	<url-pattern>/servlet/NewOldCustomerRateServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>NewOldCustomerNumServlet</servlet-name>
  	<servlet-class>servlet.NewOldCustomerNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NewOldCustomerNumServlet</servlet-name>
  	<url-pattern>/servlet/NewOldCustomerNumServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>NewOldCustomerTableServlet</servlet-name>
  	<servlet-class>servlet.NewOldCustomerTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NewOldCustomerTableServlet</servlet-name>
  	<url-pattern>/servlet/NewOldCustomerTableServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>NewOldCustomerHistoryServlet</servlet-name>
  	<servlet-class>servlet.NewOldCustomerHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NewOldCustomerHistoryServlet</servlet-name>
  	<url-pattern>/servlet/NewOldCustomerHistoryServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>ShenfangHistoryServlet</servlet-name>
  	<servlet-class>servlet.ShenfangHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShenfangHistoryServlet</servlet-name>
  	<url-pattern>/servlet/ShenfangHistoryServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>ShenfangRateServlet</servlet-name>
  	<servlet-class>servlet.ShenfangRateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShenfangRateServlet</servlet-name>
  	<url-pattern>/servlet/ShenfangRateServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShenfangTableServlet</servlet-name>
  	<servlet-class>servlet.ShenfangTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShenfangTableServlet</servlet-name>
  	<url-pattern>/servlet/ShenfangTableServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>TiaochuHistoryServlet</servlet-name>
  	<servlet-class>servlet.TiaochuHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TiaochuHistoryServlet</servlet-name>
  	<url-pattern>/servlet/TiaochuHistoryServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>TiaochuRateServlet</servlet-name>
  	<servlet-class>servlet.TiaochuRateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TiaochuRateServlet</servlet-name>
  	<url-pattern>/servlet/TiaochuRateServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>TiaochuTableServlet</servlet-name>
  	<servlet-class>servlet.TiaochuTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TiaochuTableServlet</servlet-name>
  	<url-pattern>/servlet/TiaochuTableServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LivenessRateServlet</servlet-name>
  	<servlet-class>servlet.LivenessRateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LivenessRateServlet</servlet-name>
  	<url-pattern>/servlet/LivenessRateServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>LivenessNumServlet</servlet-name>
  	<servlet-class>servlet.LivenessNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LivenessNumServlet</servlet-name>
  	<url-pattern>/servlet/LivenessNumServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LivenessTableServlet</servlet-name>
  	<servlet-class>servlet.LivenessTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LivenessTableServlet</servlet-name>
  	<url-pattern>/servlet/LivenessTableServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ButtonHistoryServlet</servlet-name>
  	<servlet-class>servlet.ButtonHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ButtonHistoryServlet</servlet-name>
  	<url-pattern>/servlet/ButtonHistoryServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>ButtonNumServlet</servlet-name>
  	<servlet-class>servlet.ButtonNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ButtonNumServlet</servlet-name>
  	<url-pattern>/servlet/ButtonNumServlet</url-pattern>
  </servlet-mapping>
  
     <servlet>
  	<servlet-name>ButtonTableServlet</servlet-name>
  	<servlet-class>servlet.ButtonTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ButtonTableServlet</servlet-name>
  	<url-pattern>/servlet/ButtonTableServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WifiNumberServlet</servlet-name>
  	<servlet-class>servlet.WifiNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WifiNumberServlet</servlet-name>
  	<url-pattern>/servlet/WifiNumberServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>SmsSendServlet</servlet-name>
  	<servlet-class>servlet.SmsSendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SmsSendServlet</servlet-name>
  	<url-pattern>/servlet/SmsSendServlet</url-pattern>
  </servlet-mapping>
  
      <servlet>
  	<servlet-name>WifiControl</servlet-name>
  	<servlet-class>servlet.WifiControl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WifiControl</servlet-name>
  	<url-pattern>/servlet/WifiControl</url-pattern>
  </servlet-mapping>
  
        <servlet>
  	<servlet-name>WifiStatus</servlet-name>
  	<servlet-class>servlet.WifiStatus</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WifiStatus</servlet-name>
  	<url-pattern>/servlet/WifiStatus</url-pattern>
  </servlet-mapping>
  
         <servlet>
  	<servlet-name>PassFlowPreServlet</servlet-name>
  	<servlet-class>servlet.PassFlowPreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PassFlowPreServlet</servlet-name>
  	<url-pattern>/servlet/PassFlowPreServlet</url-pattern>
  </servlet-mapping>
  
</web-app>